{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "compiler": "0.8.19",
                "parser": "solidity-parse"
            }
        }
    ]
} 